<div class="background">
  <section class="course-info-section">
    <div class="container">
      <div class="course-info">
        <a href="/"><img src="/assets/navbar-logo.png" width="250" alt="">
        </a>
        <div>
          <h2>Oline 199</h2>
        <p>
          Urpha Capital Akademiyasi vgddhdgsvgsgsfdvsgdsddzvsdvsvsvsegergervsdv
        </p>
        </div>
        <img src="/assets/cours.png" width="500" alt="">
        <button>Kursni boshlash</button>
        </div>
        <div class="card">
          <p-carousel 
              [value]="products" 
              [numVisible]="3" 
              [numScroll]="3"
              [circular]="true" 
              [responsiveOptions]="responsiveOptions" 
              autoplayInterval="3000">
              <ng-template let-product pTemplate="item">
                      <div class="border-1 surface-border border-round m-2 p-3">
                          <div class="mb-3">
                              <div class="relative mx-auto">
                                  <img 
                                      src="https://avatars.mds.yandex.net/i?id=b7ce9190a68cc49ec5a63cc083d16664d2b49f05-7543165-images-thumbs&n=13" 
                                      [alt]="product.name" 
                                      class="w-full border-round" />
                                  <p-tag 
                                      
                                      class="absolute" 
                                      [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                              </div>
                          </div>
                          <div class="mb-3 font-medium">
                              {{ product.name }}
                          </div>
                          <div class="flex justify-content-between align-items-center">
                          <div class="mt-0 font-semibold text-xl">
                              {{ '$' + product.price }}
                          </div>
                              <span>
                                  <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                                  <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                              </span>
                          </div>
                      </div>
                  </ng-template>
          </p-carousel>
      </div>
    </div>
  </section>
</div>